---
import { SITE_TITLE } from '../consts';
import Navigation from './Navigation.astro';
import SocialLinks from './SocialLinks.astro';
import { navigationConfig } from '../config/navigation';
import { socialLinksConfig } from '../config/social';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <Navigation navigation={navigationConfig} />
    </div>
    <SocialLinks links={socialLinksConfig} />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 720px) {
    :global(.social-links) {
      display: none;
    }
  }
</style>
